.main-box{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(216, 191, 216, 1) 0%, rgba(209, 154, 209, 1) 100%);
}

.title-box{
    width: 400px;
    margin: 30px auto 10px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(240, 228, 240);
    color: #333;
} 

.input-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: rgb(240, 228, 240);
    text-align: center;
} 

.input-box input{
    width: 200px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #d19ad1;
    border-radius: 5px;
    
} 

.input-box input:nth-of-type(2){
    width: 80px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #d19ad1;
    border-radius: 5px;
    
} 

.input-box input:focus{
    outline: 2px solid #d19ad1;
    
} 

.new-button-box{
    display: flex;
    justify-content: center;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #d19ad1;
    border-radius: 5px;
    background-color: white;
    font-size: 11px;
    text-align: center;
} 

.new-button-box:hover{
    background-color: rgb(240, 228, 240);
} 

.button-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: rgb(240, 228, 240);
    text-align: center;
} 

.button-box button{
    border: none;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(209, 154, 209);
    font-weight: 500;
    text-align: center;
    color: white;
} 

.button-box button:hover{
    background-color: rgb(209, 140, 209);
} 

.display-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: rgb(240, 228, 240);
    text-align: center;
} 

.display-box li{
    text-align: left;
} 

.todo-display-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    width: 400px;
    padding: 15px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: rgb(240, 228, 240);
    color: rgb(209, 140, 209);
    font-weight: 500;
} 


.todo-display-box li{
    display: flex;
    list-style-type: none;
    font-size: 12px;
} 
.todo-display-box li span{
    font-size: 14px;
} 


.todo-display-box input[type=checkbox]{
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    padding: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(209, 140, 209);
    border-radius: 5px;
    cursor: pointer;
} 

.todo-display-box input[type=checkbox]:checked{
    border-color: rgb(209, 140, 209);
    background-color: rgb(209, 140, 209);
} 